@font-face {
    font-family: 'Montserrat';
    src: url('path/to/Montserrat-Regular.ttf') format('truetype');
    /* Add additional src lines for different font weights/styles */
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ECF2FF;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #0E0922;
    height: 637vh;
}

header {
    margin: 0 auto;
    width: 88%;
}

nav {
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 60px;
    height: 50px;
}

nav ul {
    width: 30%;
    list-style-type: none;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;

}

.header_container {
    margin: 5em auto;
    margin-bottom: 20em;
    width: 68%;
}

.header_container h1 {
    font-size: 96px;
}

.header_container h3,
h2 {
    background: linear-gradient(90deg, rgba(255, 195, 253, 1) 14%, rgba(173, 148, 255, 1) 39%, rgba(102, 237, 255, 1) 55%);
    -webkit-background-clip: text;
    /* For better cross-browser support */
    background-clip: text;
    color: transparent;
    /* Hides the original text */
}

.circle_period {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #BFACE2;
    border-radius: 50%;
}

.header_name {
    color: #FBE38D;
}

.header_description {
    width: 300px;
    border-left: 2px solid #ffffffb3;
    margin-top: 1em;
    padding-left: 1.5em;
    font-size: 18px;
}

.header_description p {
    color: #ffffffb3;
    font-weight: 500;
}

button {
    background-color: #87CB66;
    width: 165px;
    height: 55px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.buttons_container {
    margin-top: 3em;
}

.buttons_container button:first-child {
    margin-right: 0.5em;
}

.icons_container {
    width: 50px;
    position: absolute;
    top: 33%;
    right: 1em;
}

.icons_container img {
    width: 30px;
    height: 30px;
    margin-bottom: 1em;
}

/* ABOUT ME SECTION */
.about_container {
    width: 80%;
    margin: 12em auto;
    display: flex;
}

.about_container div {
    width: 50%;
}

.about_left {
    display: flex;
    justify-content: center;
    position: relative;
}

.about_my_projects_btn {
    margin-top: 3em;
}

.about_img {
    border-radius: 50%;
    width: 85%;
}

.about_bubble_img {
    position: absolute;
    width: 13em;
    left: 0;
    top: 20em;
}

.about_right h1 {
    text-align: right;
    font-size: 96px;
}

.about_right p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 1em;
    text-align: justify;
}

/* FUN FACTS SECTION */
.fun_facts {
    margin: 15em auto;
}

.facts_container {
    background-color: #ECF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
}

.facts_container section {
    flex: 1;
    padding: 4em;
}

.facts_container>section:nth-child(2) {
    border-left: 1px solid #876CF3;
    border-right: 1px solid #876CF3;

}

.facts_container section p {
    color: black;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.fun_facts h2 {
    text-align: center;
    margin: 3em;
    color: rgb(240, 202, 239);
}

/* SKILLS SECTION */
.skills_container {
    width: 80%;
    margin: 18em auto;
}

.skills_cards_container {
    display: flex;
    justify-content: space-between;
    margin: 5em auto;
}

.skills_card {
    width: 32.5%;
    text-align: center;
    padding: 3em;
    background-color: #6806d800;
    border: 0.1em solid #876CF3;
    border-radius: 50px;
    box-shadow: inset rgba(10, 2, 31, 0.86) 0px 0px 60px -12px;
}

.skills_card h3 {
    color: #B6F6FF;
    font-size: 23px;
    font-weight: 500;
}

.skills_card p {
    padding: 0.5em;
    font-size: 18px;
    font-weight: 300;
}

.skill_icon {
    margin-bottom: 10px;
}

.skill_icon img {
    width: 70px;
}

/* TECHNOLOGIES SECTION */

.technologies {
    margin: 0 auto;
    width: 80%;
}

.technologies h2 {
    text-align: center;
}

.tools {
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
}

.tools h3 {
    font-weight: 300;
    font-size: 25px;
    padding: 0.5em;
}

.circle_li {
    width: 20px;
    height: 20px;
    border: 1px solid #ECF2FF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1em;
}

.sticks_container {
    display: flex;
    justify-content: center;
    margin: 12em;
}

.sticks {
    width: 15em;
}

/* PROJECTS SECTION */
.projects_container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
}

.project {
    background-size: cover;
    height: 300px;
    background-position: center;
    border-radius: 1em;
}

.project h1 {
    font-size: 80px;
}

.project:nth-child(1) {
    grid-column: span 2;
    background-image: url('images/mywork.png');
}

.project:nth-child(3) {
    grid-column: span 2;
    background-image: url('images/travel_app.png');
}

.project:nth-child(4) {
    background-image: url('images/zoo_app.png');
}

.project:nth-child(5) {
    background-image: url('images/pancake_order.png');
}

.project:nth-child(6) {
    grid-column: span 2;
    background-image: url('images/booksite.png');
}